<footer>
    <span>
        Projeto desenvolvido por <strong>Samuel Sousa</strong>
    </span>
    
    <div>
        <a href="https://github.com/samuelgsousa" target="_blank">GitHub <img src="./icons/external-link.svg" alt="" class="external" />  <img src="./icons/github-mark.svg" alt="GitHub" id="Github"/></a> 
        <a href="https://www.linkedin.com/in/samuel-gomes-teixeira-de-sousa-5537b71b9" target="_blank">Linkedin <img src="./icons/external-link.svg" alt="Linkedin" class="external"/> <img src="./icons/linkedin.svg" alt="" /> </a> 
    </div>
    
</footer>