label{
    color: white;
}

h1{
    color: white;
}

.linkcreate{
    color: var(--SecondaryColor);
}

label{
    color: white;
    margin-right: 15px;
    font-size: 2rem;

}
input, textarea{
    font-size: 2rem;
    border-radius: 5px;
    margin-top: 20px;
    max-width: 80%;
}
form{
    height: 100vh;
    align-items: center;
    text-align: center;
}

form button{
    margin-top: 2.5rem;
    width: 13rem;
    height: 4rem;
    border-radius: 15px;
    font-size: 1.7rem;
    background-color: #7A4AFA;
    font-weight: 500;
    color: white;
    border-color: #7A4AFA;
}

.accreate{
    margin-top: 2rem;
}

small{
    font-size: 1rem;
    color: red;
}