@charset "UTF-8";


:root{
  --Hover: #585858;
  --HoverClick: #7c7c7c;
  --Button: white;
  --BackGround: #111;
  --MainColor: rgb(8, 255, 111);
  --SecondaryColor: #7A4AFA;
  --BasicTextColor: white;
  --DataSpanLine: #7c7c7c;
  --SquareBgColor: #1d1d1d;
  --SquareShadowColor: #000;
  --MainBackground: #212529;
  --SaveButton: rgb(17, 216, 100);
  --CancelButton: rgb(230, 46, 33);
}
#WebSiteTitle h1{
  color: white;
  font-family: "Pixelify Sans";
  font-weight: 400;
  font-size: 3rem ;
}

.disabled{
  color:#7c7c7c !important;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: var(--BackGround);
    min-height: 100%;
    max-height: none;
  }

  .crud-button{
    margin-top: 1rem;
    margin-right: 1rem;
    width: 5rem;
    height: 2rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
    color: white;
  }

  .save-button{
    background-color: var(--SaveButton);
    border-color: var(--SaveButton);
  }

  .cancel-button{
    background-color: var(--CancelButton);
    border-color: var(--CancelButton);
  }

  .neutral-button{
    background-color: var(--SecondaryColor);
    border-color: var(--SecondaryColor);
  }

  @media(max-width:1586px){
    #magic-grid{
      width: 70%;
    }
  }
  
  @media(max-width:1328px){
    #magic-grid{
      width: 65%;
    }
  }
  
  @media(max-width:1144px){
    #magic-grid{
      width: 60%;
    }
  }
  
  @media(max-width:1105px){
    #magic-grid{
      width: 60%;
    }
  
    @media(max-width:1008px){
      #magic-grid{
        width: 50%;
      }
  
     
  
      @media(max-width:814px){
        #magic-grid{
          width: 45%;
        }
  
    @media(max-width:745px){
      #magic-grid{
        width: 40%;
      }
    }
      @media(max-width:685px){
        #magic-grid{
          width: 35%;
        }
  
        @media(max-width:635px){
          #magic-grid{
            width: 30%;
          }
  
        }
  
        @media(max-width:619px){
          #magic-grid{
            display: none !important;
          }
  
          #WebSiteTitle h1{
            font-size: 2.3rem;
          }
  
          #joystick{
            height: 48;
            width: 48px;
          }
  
          header{
            height: 8vh;
          }
  
          .navbar{
            height: 100%;
            height: 8vh;
          }
  
        }
  
        @media(max-width:374px){
          #joystick{
            display: none;
          }
        }
      }    
        
    }
  } 
  }
  