<h1>Confira nossa lista de jogos:</h1>

<div id="AllGamesList">
  <div *ngFor="let game of gameList" class="game" [ngbPopover]="popoverContent" 
       popoverTitle="Game Details" triggers="manual" #p="ngbPopover" 
       (clickOutside)="p.close()" [popoverClass]="'popoverGameDetails'">
    <img [src]="[game?.cover_url]" alt="" class="img-game" loading="lazy" (click)="p.open()">

    <ng-template #popoverContent>
      <div class="game-data">
        <h1 class="text-light">{{ game.name }}</h1>
        
        <p class="text-light">{{ game.release_date | date:'dd MMM yyyy' }}</p>
        <p class="text-light">{{ game.summary }}</p>

        <div class="bottom-btns">
            <button id="avaliar" [routerLink]="['../newreview/' + game.id]">Avaliar</button>
            <img src="./icons/close-btn.svg" alt="close button" class="close-btn" (click)="p.close()">
        </div>
        
      </div>
    </ng-template>
  </div>
</div>



<!-- 
        <div class="game-data">
            <h1 class="text-light">{{ game.name }}</h1>
            <span class="text-success rating"> -->
                <!-- <ngb-rating [(rate)]="null" [max]="5" readonly="true"/>       -->
            <!-- </span>
            <p class="text-light">{{game.release_date| date:'dd MMM yyyy'}}</p>
            <p class="text-light">{{game.summary}}</p>
            <button id="avaliar"  [routerLink]="['../newreview/' + game.id]">Avaliar</button>
        </div> -->