<h1>Confira nossa lista de jogos:</h1>

<div class="searchDiv">
  <input [(ngModel)]="searchTerm" placeholder="Buscar jogos...">
  <button (click)="searchGames()" class="searchBtn sendSearch">Buscar</button>
  <button (click)="clearSearch()" class="searchBtn clean">Limpar</button>
</div>

<div id="AllGamesList">
  <div *ngFor="let game of gameList" class="game" [ngbPopover]="popoverContent" 
       popoverTitle="Game Details" triggers="manual" #p="ngbPopover" 
       (clickOutside)="p.close()" [popoverClass]="'popoverGameDetails'">
    <img [src]="[game?.cover_url]" alt="" class="img-game" (click)="openPopoverOrPopup(p, game)">

    <ng-template #popoverContent>
      <div class="game-data">
        <h1 class="text-light">{{ game.name }}</h1>
        
        <p class="text-light">{{ game.release_date | date:'dd MMM yyyy' }}</p>
        <p class="text-light">{{ game.summary }}</p>

        <div class="bottom-btns">
            <button id="avaliar" [routerLink]="['../newreview/' + game.id]">Avaliar</button>
            <img src="./icons/close-btn.svg" alt="close button" class="close-btn" (click)="p.close()">
        </div>
        
      </div>
    </ng-template>
  </div>
</div>

<!-- Componente de paginação -->

<ngb-pagination *ngIf="!isSearching"  [collectionSize]="totalGames" 
[(page)]="currentPage" 
(pageChange)="loadGames($event)" 
[pageSize]="20" class="pages">
</ngb-pagination>
