<h1>Confira nossa lista de jogos:</h1>

<div class="searchDiv">
  <input [(ngModel)]="searchTerm" placeholder="Buscar jogos...">
  <button (click)="searchGames()" class="searchBtn sendSearch">Buscar</button>
  <button (click)="clearSearch()" class="searchBtn clean">Limpar</button>
</div>

<div *ngIf="isLoading">
  <h1>Carregando
    <div class="spinner-border" role="status">
    </div>
  </h1>
</div>

<div id="AllGamesList">
  <div *ngFor="let game of gameList" class="game" [ngbPopover]="popoverContent" 
       popoverTitle="Game Details" triggers="manual" #p="ngbPopover" 
       (clickOutside)="p.close()" [popoverClass]="'popoverGameDetails'">
    <img [src]="[game?.cover_url]" alt="" class="img-game" (click)="openPopoverOrPopup(p, game, content)">

    <ng-template #popoverContent>
      <div class="game-data">
        <h1 class="text-light">{{ game.name }}</h1>
        
        <p class="text-light">{{ game.release_date | date:'dd MMM yyyy' }}</p>
        <p class="text-light">{{ game.summary }}</p>

        <div class="bottom-btns">
            <button id="avaliar" [routerLink]="['../newreview/' + game.id]">Avaliar</button>
            <img src="./icons/close-btn.svg" alt="close button" class="close-btn" (click)="p.close()">
        </div>
        
      </div>
    </ng-template>
  </div>
</div>

<ng-template #content let-modal class="gamesModal">
  <div class="modal-header">
    <h4 class="modal-title">{{ selectedGame?.name }}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <!-- <p>Data de lançamento: {{ selectedGame?.release_dates | date:'dd MMM yyyy' }}</p> -->
    <p>Summary: {{ selectedGame?.summary }}</p>
  </div>
  <div class="modal-footer">
    <button id="avaliar" class="btn btn-primary" [routerLink]="['../newreview/' + selectedGame?.id]" (click)="modal.dismiss('Cross click')">Avaliar</button>
  </div>
</ng-template>

<!-- Componente de paginação -->

<ngb-pagination *ngIf="!isSearching"  [collectionSize]="totalGames" 
[(page)]="currentPage" 
(pageChange)="loadGames($event)" 
[pageSize]="20" class="pages">
</ngb-pagination>
