<div id="avatar-data">
    <img src="#" alt="" class="Profile-picture">
    <span class="text-light fw-semibold text-expand-lg" id="nickname"></span>
    <button type="button" class="stamp">Streamer</button>
</div>

<div class="dados">
    <span id="seguidores">Seguidores: </span>
    <span id="horasJogadas">Horas jogadas: </span>
    <span id="generosFavoritos">Gêneros Favoritos: {{profile?.fav_gen}}</span>

    <div class="avaliacoes">
        <span id="aval">Avaliações:</span>

        <div class="chart-container">
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>
