<header>
    <!--Menu de navegação-->
    
        <nav class="navbar">
          <!--Cabeçalho -->
            <div class="container-fluid">
              <img src="./icons/gamerboxicon.svg" alt="" id="joystick">
              <div id="WebSiteTitle"><h1>ScoreCraft</h1></div>
            <div class="magic-grid" id="magic-grid"></div> <!--//Grid mágico\-->
    
            <!--Botão de menu-->
              <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" id="botaoMenu" >
                <span class="toggler-icon top-bar"></span>
                <span class="toggler-icon middle-bar"></span>
                <span class="toggler-icon bottom-bar"></span>
              </button>
            <!--/Botão de menu-->
            </div>
          <!--/Cabeçalho -->
    
        <!--Menu de opções -->
          <div class="collapse navbar-collapse bg-dark" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active link-light " aria-current="page" [routerLink]="['']" (click)="toggleMenu()">Início</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active link-light " aria-current="page" [routerLink]="['myaccount']" (click)="toggleMenu()" *ngIf="currentUser">Minha Conta</a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-light" [routerLink]="['jogos']" (click)="toggleMenu()">Jogos</a>
              </li>
              <li class="nav-item link-light">
                <a class="nav-link link-light" [routerLink]="['reviews']" (click)="toggleMenu()">Reviews</a>
              </li>
              <li class="nav-item link-light">
                <a class="nav-link link-light" [routerLink]="['users']" (click)="toggleMenu()">Usuários</a>
              </li>
              <li class="nav-item link-light">
                <a class="nav-link link-light" [routerLink]="['signup']" (click)="toggleMenu()" *ngIf="!currentUser">Criar perfil</a>
              </li>
              <li class="nav-item link-light">
                <a class="nav-link link-light" [routerLink]="['login']" (click)="toggleMenu()" *ngIf="!currentUser">Login</a>
              </li>
              <li class="nav-item link-light">
                <a class="nav-link link-light" [routerLink]="['dashboard']" (click)="toggleMenu()" *ngIf="currentUser">Meu perfil</a>
              </li>
              <li class="nav-item link-light">
                <a class="nav-link link-light" [routerLink]="['']" (click)="logout()" *ngIf="currentUser">Logout</a>
              </li>
            </ul>
          </div>
        <!--/Menu de opções -->
        </nav>
  </header>
  