<div class="game-review border-bottom border-secondary">
  <img [src]="gameDetails?.cover" alt="" class="img-game-review">
<div class="composing">
  
    <h1 class="text-light">{{gameDetails?.name}}</h1>
  
    <span class="text-success rating">
      <ngb-rating [(rate)]="rating" [max]="5" [readonly]="false"></ngb-rating> <!-- Vincule a variável de rating -->
    </span>
  
    <textarea [(ngModel)]="reviewText" class="form-control" placeholder='Review' (input)="autoResize($event)"></textarea> <!-- Vincule a variável de texto da review -->
  
    <div>
      <button (click)="createReview()" class="crud-button save-button">Salvar</button>
      <button (click)="cancelCreation()" class="crud-button cancel-button">Cancelar</button>
    </div>
</div>
  
</div>
