h1{
    color: white;
}

#AllGamesList{
    display: flex;
    flex-direction: column;
}

.game{
    min-height: 21rem;
    padding: 1%;
    margin-bottom: 10px;
    word-break: normal;
    display: flex;
    padding-right: 10px;
    width: 100% !important;
}

.img-game{
    border-radius: 5px;
    height: clamp(70px,30px + 30vw,300px); 
    min-width: clamp(100px,25px + 20vw,200px); 
    max-width: clamp(100px,25px + 20vw,200px);
    cursor: pointer;
    overflow: hidden;
    display: block;
    justify-content: center;
    object-fit: cover;
    margin-right: clamp(10px,10px + 1vw,30px);
}

#avaliar{

}

.userdata{
    display: flex;
    gap: 0.8rem;
    margin-bottom: 1.5rem;
    margin-top: 0.8rem;
    align-items: center;
}

.userdata h2{
    font-size: 1rem;
    cursor: pointer;
}

.userProfilePicture{
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    object-fit: cover;
}

ngb-rating{
    align-self: last baseline;
    font-size: 1.5rem;
}