<h1>Confira as avaliações de nossos usuários</h1>

<div id="AllReviewsList"></div>
<div *ngFor="let review of reviewList" class="game">
    <img [src]="gameDetails[review.game_id].cover" alt="" class="img-game" *ngIf="gameDetails[review.game_id]">
    <div class="game-data">
        <h1 class="text-light">{{gameDetails[review.game_id]?.name}}</h1>

        <div class="userdata" [routerLink]="['/users/profile', (profileData[review.user_id]?.id)]">
            <img [src]="profileData[review.user_id]?.foto_perfil" alt="" class="userProfilePicture">

            <h2 class="text-light" >{{profileData[review.user_id]?.nome}} 

            <ngb-rating [(rate)]="review.rating" [max]="5" [readonly]="true" class="text-success"/>
            </h2>
        </div>
        <p class="text-light reviewtext">{{review.review_text}}</p>

    </div>
</div>
