<main class="content">

    <div class="cover" id="cover" (click)="toggleWppSelection()">
        <img [src]="this.currentUser?.foto_perfil" alt="" id="Profile_Photo" (click)="toggleIconSelection(); toggleWppSelection()">
    </div>

    
    
      <button *ngIf="!isEditing" type="submit" (click)="enableEdit()">Editar</button>
      <button *ngIf="isEditing" type="submit" (click)="cancelEdit()">Cancelar</button>

      <div class="actualData" *ngIf="!isEditing">
        <h1>{{this.currentUser?.nome}}</h1>
        <h1>{{this.currentUser?.email}}</h1>
        <p>{{this.currentUser?.bio}}</p>
        <h1>Senha: ***</h1>
      </div>
      
      <div id="iconSelection" *ngIf="isEditing">
        <img *ngFor="let icon of petPhotos" [src]="icon" alt="" class="iconPetcon" (click)="changePetProfilePicture(icon); toggleIconSelection()">
      </div> 
  
      <div id="wppSelect" *ngIf="isEditing">
        <img *ngFor="let wallpaper of wppPhotos" [src]="wallpaper" alt="" class="wppSelection" (click)="changeWallpaper(wallpaper); toggleWppSelection()">
      </div>

    <form [formGroup]="accountForm" (ngSubmit)="onSubmit()" *ngIf="isEditing">
      <div>
        <p class="iconAware">*Clique na foto para selecionar um icon ou na capa para selecionar uma*</p>

        <input id="nome" formControlName="nome" type="text" placeholder="Nome">
        <div *ngIf="accountForm.get('nome')?.invalid && accountForm.get('nome')?.touched">
          <small *ngIf="accountForm.get('nome')?.errors?.required">Nome é obrigatório.</small>
          <small *ngIf="accountForm.get('nome')?.errors?.minlength">O nome deve ter pelo menos 3 caracteres.</small>
        </div>
      </div>

      <h1>{{this.currentUser?.email}}</h1>
    
      <div>
        <input id="email" formControlName="email" type="email" placeholder="Email">
        <div *ngIf="accountForm.get('email')?.invalid && accountForm.get('email')?.touched">
          <small *ngIf="accountForm.get('email')?.errors?.required">Email é obrigatório.</small>
          <small *ngIf="accountForm.get('email')?.errors?.email">Por favor, insira um email válido.</small>
        </div>
      </div>
    
      
    
      <textarea  id="bio" formControlName="bio" rows="5" cols="50" placeholder="Escreva sua bio..."></textarea >
    
      <div *ngIf="accountForm.get('bio')?.invalid && accountForm.get('bio')?.touched">
        <small *ngIf="accountForm.get('bio')?.errors?.maxlength">A bio não pode exceder 300 caracteres.</small>
      </div>

      <div >
        <input id="senha" formControlName="senha" type="password" placeholder="Alterar senha">
        <div *ngIf="accountForm.get('senha')?.invalid && accountForm.get('senha')?.touched">
          <small *ngIf="accountForm.get('senha')?.errors?.required">Senha é obrigatória.</small>
          <small *ngIf="accountForm.get('senha')?.errors?.minlength">A senha deve ter pelo menos 6 caracteres.</small>
        </div>
      </div>
    
      <div >
        <input id="confirmPassword" formControlName="confirmPassword" type="password" placeholder="Confirmar Senha">
        <div *ngIf="accountForm.get('confirmPassword')?.invalid && accountForm.get('confirmPassword')?.touched">
          <small *ngIf="accountForm.get('confirmPassword')?.errors?.required">Confirmação de senha é obrigatória.</small>
          <small *ngIf="accountForm.errors?.passwordMismatch">As senhas não coincidem.</small>
        </div>
      </div>
    
      <br>
      <button  type="submit" [disabled]="accountForm.invalid">Alterar dados</button>
    </form>
  </main>
  