label{
    color: white;
    margin-right: 15px;
    font-size: 2rem;

}

.cover{
    background-size: cover;
    background-position: center center;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

input, textarea{
    font-size: 2rem;
    border-radius: 5px;
    margin-top: 20px;
    max-width: 80%;
}

small{
    font-size: 1rem;
    color: red;
}

form{
    height: 100vh;
    align-items: center;
    text-align: center;
}

#Profile_Photo{
    width: 9rem;
    height: 9rem;
    cursor: pointer;
}

#iconSelection{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    opacity: 0; /* Inicialmente oculto */
    max-height: 0; /* Inicialmente escondido */
    overflow: hidden; /* Oculta o conteúdo que excede max-height */
    transition: opacity 0.5s ease-in-out, max-height 0.3s ease-in-out;
}

#wppSelect{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    opacity: 0; /* Inicialmente oculto */
    max-height: 0; /* Inicialmente escondido */
    overflow: hidden; /* Oculta o conteúdo que excede max-height */
    transition: opacity 0.5s ease-in-out, max-height 0.3s ease-in-out;
}

.wppSelection{
    width: 10rem;
    height: 5.5rem;
    border-radius: 5px;
    margin-bottom: 2rem;
}

#iconSelection.show, #wppSelect.show {
    opacity: 1; /* Visível */
    max-height: 500px; /* Ajuste conforme necessário */
}

.iconPetcon{
    width: 8rem;
    height: 8rem;
    cursor: pointer;
}

form button{
    margin-top: 15px;
    width: 13rem;
    height: 4rem;
    border-radius: 15px;
    font-size: 1.7rem;
    background-color: #7A4AFA;
    font-weight: 500;
    color: white;
    border-color: #7A4AFA;
}

.iconAware{
    margin-top: 15px;
    font-size: 1.5rem;
    color: #7A4AFA;

}

form button[type="submit"]:disabled{
    background-color: transparent;
    color: #543a9b;
    border-color: #543a9b;
    
}

.content{
    min-height: 150vh;
    align-items: center;

}

@media(max-height: 755px){
    .content{
        min-height: 180vh;
    }
}

.actualData{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    text-align: center;
}

.actualData p{
    font-size: 2rem;
}

.buttonsDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

button{
    margin-top: 1rem;
    margin-right: 1rem;
    border-radius: 10px;
    font-size: 1rem;
    color: white;
    background-color: var(--SecondaryColor);
}

button:hover{
    color: white;
    background-color: var(--SecondaryColor);
}

.btn-danger, .btn-danger:hover{
    background-color: rgb(250, 59, 59);
}