
<section class="text-center" id="cover">
    <h1 class=" text-light texto-img">Descubra jogos incríveis</h1>
    <h1 class=" text-light texto-img">Conecte-se com outros jogadores</h1>
    <h1 class=" text-light texto-img">Compartilhe suas experiências</h1>
        
   

    <button type="button" class="btn btn-primary fs-2 btn-lg" id="createAccount" data-bs-toggle="popover" data-bs-placement="top"
    data-bs-custom-class="custom-popover"
    data-bs-title="Ops!!!"
    data-bs-content="Parece que você está acessando a versão Beta de nossa página, sendo assim, ainda não é possível criar um perfil. Enquanto isso, sinta-se a vontade para acessar a aba de usuários e verificar o perfil de nossos beta testers :)">Crie sua conta</button>

</section>

     
<h1 class="modal-title text-center text-light mt-2 mb-5 bg-dark">Populares esta semana</h1>

<div id="week-list">
    <div class="week-game">

        <div class="filter">
            <div class="icon"><img src="./icons/idx-controller.png" alt=""><span class="fs-3 text-light fw-semibold">564K</span></div>
            <div class="icon"><img src="./icons/idx-heart.png" alt=""><span class="fs-3 text-light fw-semibold">480K</span></div>

            <div class="rate">
                <div class="stars">
                    <img src="./icons/idx-star.png" alt="" class="col"> 
                    <img src="./icons/idx-star.png" alt="" class="col">
                    <img src="./icons/idx-star.png" alt="" class="col">
                    <img src="./icons/idx-star.png" alt="" class="col">
                    <img src="./icons/idx-star.png" alt="" class="col">
                </div>
                <div>
                    <span class="fs-3 text-light fw-semibold">521K</span>
                </div>
            </div>
            
        </div>

        <img src="./index-games/Week-Games/wg-lies-of-p.svg" alt="..." >
    </div> 
       
    <div class="week-game">
        <div class="filter">
            <div class="icon"><img src="./icons/idx-controller.png" alt=""><span class="fs-3 text-light fw-semibold">20M</span></div>
            <div class="icon"><img src="./icons/idx-heart.png" alt=""><span class="fs-3 text-light fw-semibold">5M</span></div>

            <div class="rate">
                <div class="stars">
                    <img src="./icons/idx-star.png" alt="" class="col"> 
                    <img src="./icons/idx-star.png" alt="" class="col">
                    <img src="./icons/idx-star.png" alt="" class="col">
                    <img src="./icons/idx-star.png" alt="" class="col">
                    <img src="./icons/idx-star.png" alt="" class="col">
                </div>
                
                    <span class="fs-3 text-light fw-semibold">3.5M</span>
                
            </div>
            
        </div>
        <img src="./index-games/Week-Games/wg-Minecraft.jpg" alt="...">
    </div>
       
    <div class="week-game">
        <div class="filter">
            <div class="icon"><img src="./icons/idx-controller.png" alt=""><span class="fs-3 text-light fw-semibold">4M</span></div>
            <div class="icon"><img src="./icons/idx-heart.png" alt=""><span class="fs-3 text-light fw-semibold">820K</span></div>

            <div class="rate">
                <div class="stars">
                    <img src="./icons/idx-star.png" alt="" class="col"> 
                    <img src="./icons/idx-star.png" alt="" class="col">
                    <img src="./icons/idx-star.png" alt="" class="col">
                    <img src="./icons/idx-star.png" alt="" class="col">
                    <img src="./icons/idx-star.png" alt="" class="col">
                </div>
                
                    <span class="fs-3 text-light fw-semibold">4.7M</span>
                
            </div>
            
        </div>
        <img src="./index-games/Week-Games/wg-horizonfb.svg" alt="...">
    </div>
       
    <div class="week-game">
        <div class="filter">

            <div class="icon"><img src="./icons/idx-controller.png" alt=""><span class="fs-3 text-light fw-semibold">8M</span></div>
            
            <div class="icon"><img src="./icons/idx-heart.png" alt=""><span class="fs-3 text-light fw-semibold">6M</span></div>

            <div class="rate">
                <div class="stars">
                    <img src="./icons/idx-star.png" alt="" class="col"> 
                    <img src="./icons/idx-star.png" alt="" class="col">
                    <img src="./icons/idx-star.png" alt="" class="col">
                    <img src="./icons/idx-star.png" alt="" class="col">
                    <img src="./icons/idx-star.png" alt="" class="col">
                </div>
                
                    <span class="fs-3 text-light fw-semibold">4M</span>
            
            </div>
            
        </div>
        <img src="./index-games/Week-Games/wg-stardew-valley.svg" alt="...">
    </div>
</div>
