router-outlet {
    display: block;
    min-height: fit-content; /* Ou o espaço desejado */
  }
 
  html, body {
   height: 100%;
   margin: 0;
 }
 
 body {
   display: flex;
   flex-direction: column;
 }
 
 
 app-footer {
   margin-top: auto;
 }
