router-outlet {
    display: block;
    min-height: fit-content; /* Ou o espaço desejado */
  }
 
  html, body {
   height: 100%;
   margin: 0;
 }
 
 body {
   display: flex;
   flex-direction: column;
 }
 
 
 app-footer {
   margin-top: auto;
 }

 
 @media(max-width:1586px){
  #magic-grid{
    width: 70%;
  }
}

@media(max-width:1328px){
  #magic-grid{
    width: 65%;
  }
}

@media(max-width:1144px){
  #magic-grid{
    width: 60%;
  }
}

@media(max-width:1105px){
  #magic-grid{
    width: 60%;
  }

  @media(max-width:1008px){
    #magic-grid{
      width: 50%;
    }

   

    @media(max-width:814px){
      #magic-grid{
        width: 45%;
      }

  @media(max-width:745px){
    #magic-grid{
      width: 40%;
    }
  }
    @media(max-width:685px){
      #magic-grid{
        width: 35%;
      }

      @media(max-width:635px){
        #magic-grid{
          width: 30%;
        }

      }

      @media(max-width:619px){
        #magic-grid{
          display: none !important;
        }

        #WebSiteTitle h1{
          font-size: 2.3rem;
        }

        #joystick{
          height: 48;
          width: 48px;
        }

        header{
          height: 8vh;
        }

        .navbar{
          height: 100%;
          height: 8vh;
        }

      }

      @media(max-width:374px){
        #joystick{
          display: none;
        }
      }
    }    
      
  }
} 
}


