<div *ngFor="let review of this.userReviews; ; let i = index" class="game-review border-bottom border-secondary" >
    <img [src]="gameDetails[review.game_id].cover" alt="" class="img-game-review" *ngIf="gameDetails[review.game_id]">
    <h1 class="text-light">{{gameDetails[review.game_id].name}}</h1>
            <span class="text-success rating">
                <ngb-rating [(rate)]="review.rating" [max]="5" [readonly]="!editStates[i]"/>      
            </span>

            <p class="text-light">{{review.played_data | date:'dd MMM yyyy'}}</p>
            <p class="text-light" *ngIf="!editStates[i]">{{review.review_text}}</p>

            <textarea *ngIf="editStates[i]" type="text" class="form-control" placeholder='Review' [(ngModel)]="tempReviewText[i]" (input)="autoResize($event)"> </textarea>


            <button (click)="enableEdit(i)" *ngIf="isCurrentUser && !editStates[i]" class="btn neutral-button">Editar Review</button>
            <button *ngIf="isCurrentUser && editStates[i]" (click)="updateReview(i, review.id!)" class="btn btn-success">salvar</button>
            <button *ngIf="isCurrentUser && editStates[i]" (click)="cancelEdit(i)" class="btn btn-danger ">cancelar</button>
            <button *ngIf="isCurrentUser && editStates[i]" (click)="deleteReview(i, review.id!)" class="btn btn-warning">! Deletar Review</button>
</div>
